
body {
    font-family: helvetica, sans-serif;
    margin: 0;
    background-image: url("WSP_overhead.jpg");
    background-color: #000;
    background-size: cover;
}


header {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    opacity: .8;
    justify-content: space-between;
    
}


#References {
    background-color: black;
    font-size: 80px;
    font-weight: 100;
    padding-top: 30px;
    color: white;
}

#References:hover {
    cursor: pointer;
    color: #000;
    background-color: white;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
}


#title {
    font-size: 80px;
    font-weight: 100;
    color: white;
}

.info-container {
    opacity: .9;
    display: flex;
    align-items: stretch;
    gap: 30px 30px;
    flex-direction: column;
    border: 24px;
    padding: 24px;
    margin: 24px;


}


.info {
    opacity: 1;
    color: white;
    background-color: #000;
    outline-style: solid;
    outline-color: black;
    border-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}

.info h2 {
    text-align: center;
    flex: 0 0 100%
}


.caption {
    display: block;
}


.hidden {
    display: none;
}


#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
}


#references-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    overflow: scroll;

}


#modal-content {
    width: auto;
    max-width: 800px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;

}


.references-header {
    display: flex;
    justify-content: space-between;
}

#modal-title {
    align-self: center;
}

/* This fake element exists to properly align the title and button
of the references page */
#fake-element {
    visibility: hidden;
}

#close-button {
    border: 2px, solid, black;
    border-radius: 4px;
    background-color: rgb(250, 244, 244);
    margin: 12px;
    width: 64px;
    height: 36px;
    
}

#close-button:hover {
    cursor: pointer;
    background-color: red;
    border-color: red;
}


.hangingindent {
    padding-left: 22px ;
    text-indent: -22px ;
    } 