
body {
    font-family: helvetica, sans-serif;
    margin: 0;
    background-image: url("WSP_overhead.jpg");
    background-color: #000;
    background-size: cover;
}


header {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    opacity: .8;
    justify-content: space-between;
    align-items: stretch;
    
}


#References {
    background-color: black;
    font-size: 80px;
    font-weight: 100;
    padding-top: 30px;
    color: white;
    align-self: stretch;
}

#References:hover {
    cursor: pointer;
    color: #000;
    background-color: white;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
}


#title {
    font-size: 80px;
    font-weight: 100;
    color: white;
}

.info-container {
    opacity: .8;
    display: flex;
    align-items: stretch;
    gap: 10px 30px;
    flex-direction: column;
    border: 12px;
    padding: 12px;
    margin: 12px;


}


.info {
    opacity: 1;
    color: white;
    background-color: #000;
    outline-style: solid;
    outline-color: black;
    border-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}

.info h2 {
    text-align: center;
    flex: 0 0 100%
}





.hidden {
    display: none;
}


#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
}


#references-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    overflow: scroll;

}


#modal-content {
    width: auto;
    max-width: 1000px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;

}
